In [29]:
import pandas as pd
import numpy as np

# Series

In [41]:
lis = [1,2,3,4]
labels = "A B C D".split()
dic = {'a':1, 'b':2, 'c':3}

In [42]:
s1 = pd.Series(lis)
s1

0    1
1    2
2    3
3    4
dtype: int64

In [43]:
s1 = pd.Series(dic)
s1

a    1
b    2
c    3
dtype: int64

In [44]:
s1 = pd.Series(lis, index=labels)
s1

A    1
B    2
C    3
D    4
dtype: int64

In [45]:
s2 = pd.Series("A B C".split())
s3 = pd.Series("D E F".split())
s2.append(s3)

0    A
1    B
2    C
0    D
1    E
2    F
dtype: object

In [46]:
s2.append(s3, ignore_index=True)

0    A
1    B
2    C
3    D
4    E
5    F
dtype: object

In [52]:
s1

A    1
B    2
C    3
D    4
dtype: int64

In [48]:
s1['A']

1

In [57]:
s1[2]

3

In [51]:
s1.sum()

10

# DataFrames

In [60]:
dic = {
    'Tom': [1,2,3],
    'Dick': [4,5,6],
    'Harry':[7,8,9]
}
df = pd.DataFrame(dic, index=['A', 'B', 'C'])
df

   Tom  Dick  Harry
A    1     4      7
B    2     5      8
C    3     6      9

In [61]:
df['Tom']

A    1
B    2
C    3
Name: Tom, dtype: int64

In [62]:
df['A']

KeyError: 'A'

In [63]:
df.loc['A']

Tom      1
Dick     4
Harry    7
Name: A, dtype: int64

In [65]:
df.iloc[0]

Tom      1
Dick     4
Harry    7
Name: A, dtype: int64

In [72]:
pokemon = pd.read_csv('Datasets/pokemon.csv')
pokemon.head()

      Pokemon   Type
0   Bulbasaur  Grass
1     Ivysaur  Grass
2    Venusaur  Grass
3  Charmander   Fire
4  Charmeleon   Fire

In [73]:
nba = pd.read_csv('Datasets/Set1/nba.csv')
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [74]:
nba.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [76]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [78]:
nba['Team'].value_counts()

New Orleans Pelicans      19
Memphis Grizzlies         18
Milwaukee Bucks           16
New York Knicks           16
San Antonio Spurs         15
Phoenix Suns              15
Dallas Mavericks          15
Oklahoma City Thunder     15
Utah Jazz                 15
Toronto Raptors           15
Portland Trail Blazers    15
Indiana Pacers            15
Washington Wizards        15
Atlanta Hawks             15
Houston Rockets           15
Boston Celtics            15
Brooklyn Nets             15
Detroit Pistons           15
Golden State Warriors     15
Miami Heat                15
Denver Nuggets            15
Los Angeles Lakers        15
Los Angeles Clippers      15
Philadelphia 76ers        15
Chicago Bulls             15
Charlotte Hornets         15
Cleveland Cavaliers       15
Sacramento Kings          15
Minnesota Timberwolves    14
Orlando Magic             14
Name: Team, dtype: int64

## Conditional Selection

In [80]:
nba['Team'] == 'Boston Celtics'

0       True
1       True
2       True
3       True
4       True
       ...
453    False
454    False
455    False
456    False
457    False
Name: Team, Length: 458, dtype: bool

In [84]:
hawks = nba[nba['Team'] == 'Atlanta Hawks']
hawks

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
309,Kent Bazemore,Atlanta Hawks,24.0,SF,26.0,6-5,201.0,Old Dominion,2000000.0
310,Tim Hardaway Jr.,Atlanta Hawks,10.0,SG,24.0,6-6,205.0,Michigan,1304520.0
311,Kirk Hinrich,Atlanta Hawks,12.0,SG,35.0,6-4,190.0,Kansas,2854940.0
312,Al Horford,Atlanta Hawks,15.0,C,30.0,6-10,245.0,Florida,12000000.0
313,Kris Humphries,Atlanta Hawks,43.0,PF,31.0,6-9,235.0,Minnesota,1000000.0
314,Kyle Korver,Atlanta Hawks,26.0,SG,35.0,6-7,212.0,Creighton,5746479.0
315,Paul Millsap,Atlanta Hawks,4.0,PF,31.0,6-8,246.0,Louisiana Tech,18671659.0
316,Mike Muscala,Atlanta Hawks,31.0,PF,24.0,6-11,240.0,Bucknell,947276.0
317,Lamar Patterson,Atlanta Hawks,13.0,SG,24.0,6-5,225.0,Pittsburgh,525093.0
318,Dennis Schroder,Atlanta Hawks,17.0,PG,22.0,6-1,172.0,NaN,1763400.0
319,Mike Scott,Atlanta Hawks,32.0,PF,27.0,6-8,237.0,Virginia,3333333.0
320,Thabo Sefolosha,Atlanta Hawks,25.0,SF,32.0,6-7,220.0,NaN,4000000.0
321,Tiago Splitter,Atlanta Hawks,11.0,C,31.0,6-11,245.0,NaN,9756250.0
322,Walter Tavares,Atlanta Hawks,22.0,C,24.0,7-3,260.0,NaN,1000000.0
323,Jeff Teague,Atlanta Hawks,0.0,PG,27.0,6-2,186.0,Wake Forest,8000000.0

In [87]:
hawks['Age']

309    26.0
310    24.0
311    35.0
312    30.0
313    31.0
314    35.0
315    31.0
316    24.0
317    24.0
318    22.0
319    27.0
320    32.0
321    31.0
322    24.0
323    27.0
Name: Age, dtype: float64

In [88]:
hawks['Age'].mean()

28.2

In [89]:
nba[nba['Team'] == 'Atlanta Hawks']['Age'].mean()

28.2

## Groupby